<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Todo アプリ</title>
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/example.css">
</head>
<body ng-app="App">
  <div class="location-bar"></div>

  <div class="container"
       ng-controller="MainController">
    <div class="page-header">
      <h1>ToDo</h1>
    </div>

    <form class="input-group input-group-lg"
          ng-submit="addTodo()">
      <input type="text"
             required
             placeholder="新しい要件を入力"
             class="form-control input-lg"
             ng-model="newTitle">
      <span class="input-group-btn">
        <button type="submit"
                class="btn btn-default">追加</button>
      </span>
    </form>

    <hr>

    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-success">全て完了/未了</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-default"
                ng-class="{active: !currentFilter}"
                ng-click="changeFilter()">
                全部
                <span class="badge">{{ allCount }}</span>
        </button>
        <button class="btn btn-default"
                ng-class="{active: currentFilter == filter.remaining}"
                ng-click="changeFilter(filter.remaining)">
                未了
                <span class="badge">{{ remainingCount }}</span>
        </button>
        <button class="btn btn-default"
                ng-class="{active: currentFilter == filter.done}"
                ng-click="changeFilter(filter.done)">
                完了
                <span class="badge">{{ doneCount }}</span>
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-danger">完了アイテムを全て削除</button>
      </div>
    </div>

    <hr>

    <ul class="list-unstyled">
      <li class="todo-item"
          ng-repeat="todo in todos | filter:currentFilter"
          ng-class="{done: todo.done}">
        <form class="input-group input-group-lg">
          <label class="input-group-addon">
            <input type="checkbox" ng-model="todo.done">
          </label>
          <p class="form-control input-lg todo-title">{{ todo.title }}</p>
          <span class="input-group-btn del-btn">
            <button type="reset"
                    class="btn btn-danger">削除</button>
          </span>
        </form>
      </li>
      <!-- 不必要なモックはコメントアウト
      <li class="todo-item editing">
        <form class="input-group input-group-lg">
          <label class="input-group-addon">
            <input type="checkbox">
          </label>
          <input type="text"
                 required
                 class="form-control input-lg"
                 value="編集中の ToDo">
        </form>
      </li>
      -->
    </ul>
  </div>

  <script src="../../components/angular/angular.min.js"></script>
  <script src="../../assets/js/location.js"></script>
  <script src="app.js"></script>
</body>
</html>
