body {
  padding-top: 60px;
}

.location-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  background-color: #fff;
}

.location-bar .input-group-addon,
.location-bar .btn {
  border-radius: 0;
}

.location-bar .form-control {
  cursor: default;
  background-color: #fff;
}

.ng-invalid {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.ng-invalid:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #d59392;
}

/* ToDo app */
.todo-item .todo-title {
  color: #888;
}

.done .todo-title {
  text-decoration: line-through;
}

/* Account app */
.table tbody > tr > td {
  vertical-align: middle;
}

.col-md {
  width: 25%;
}

.col-sm {
  width: 20%;
}
