<h2>役割</h2>
<p>ビューは以下の役割を果たすために使用されるものです。</p>
<ul>
<li>ディレクティブを解析し DOM を構築する。</li>
<li>テンプレート構文(<code>{{ }}</code>)を解析し式を実行、結果を DOM に反映する。</li>
<li>モデルの変更を受け取り(必要なら)式を再評価します。</li>
</ul>
<h2>構文</h2>
<p>AngularJS のビューは <code>{{ }}</code> で括られた部分を式として評価します。
式はその要素自身の $scope のコンテキストで評価されます。
要素に $scope がない場合、親 $scope をたどり評価されます。
もし $rootScope までたどってもプロパティが発見できなければ何も出力しません。</p>
<p>テンプレート内では未定義のプロパティを参照したり未定義の関数を呼びだそうとしてもエラーを送出しません。
この仕組みは <code>x || &#39;&#39;</code> や <code>y &amp;&amp; y()</code> のような記述をしなくてよいという利便性をもたらします。</p>
<div preview="article.examples.demo1" size="310"></div>

<h2>オートバインディング</h2>
<p>テンプレート構文の式は $scope のプロパティが変更されるたび再評価されます。
開発者は基本的にモデルの変更を手動でビューに通知する必要はありません。</p>
<div preview="article.examples.demo2" size="280"></div>

