<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/example.css">
</head>
<body ng-app="Example">
  <div class="location-bar"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <dl>
          <dt>式評価</dt>
          <dd>1 + 2 = {{ 1 + 2 }}</dd>
        </dl>
        <dl>
          <dt>変数の参照</dt>
          <dd>example = {{ example }}</dd>
        </dl>
        <dl>
          <dt>属性値内での式評価</dt>
          <dd><a title="{{ example }}">example</a></dd>
        </dl>
      </div>
      <div class="col-sm-4" ng-controller="MainCtrl">
        <dl>
          <dt>変数の参照(MainCtrl)</dt>
          <dd>example = {{ example }}</dd>
        </dl>
        <dl>
          <dt>継承された変数の参照</dt>
          <dd>example2 = {{ example2 }}</dd>
        </dl>
        <dl>
          <dt>メソッド呼び出し</dt>
          <dd>square(10) = {{ square(10) }}</dd>
        </dl>
      </div>
      <div class="col-sm-4">
        <dl>
          <dt>未定義変数の参照</dt>
          <dd>x = {{ x }}</dd>
        </dl>
        <dl>
          <dt>未定義関数の呼び出し</dt>
          <dd>y() = {{ y() }}</dd>
        </dl>
        <dl>
          <dt>未定義変数の関数の呼び出し</dt>
          <dd>x.y() = {{ x.y() }}</dd>
        </dl>
      </div>
    </div>
  </div>

  <script src="../../components/angular/angular.min.js"></script>
  <script src="../../assets/js/location.js"></script>
  <script src="demo1.js"></script>
</body>
</html>
